* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(193, 255, 255);
}

input {
    margin: 15px;
    font-size: 25px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

button {
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(149, 255, 255);
    border-radius: 10px;
}

.textoPrincipal {
    margin-top: 10px;
}

.textoSecundario {
    margin: 30px;
}